* {
	box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.row  {
    /* remove later */
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
    /* remove later */

    padding-left: 10px;
    padding-right: 10px;
}

.site-header{
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo{
    
    width: 70px;
    /* margin-left: 10px; */
}

.logo-btn-container   {
    display: flex;
    align-items: center;
}

.menu-btn-container  {
    margin-left: auto;
}

.hamburgar{
    margin-left: auto;
    width: 30px ;
    cursor: pointer;
}

.hamburgar .btn-bars{
    border: 1.8px solid rgb(220, 51, 36);
    display: block;
}

.hamburgar .btn-bars + .btn-bars{
    margin-top: 4px;
}

.site-nav{
    position: relative;
    display: none;
}

 .is-open{
    display: block;
}

.site-nav-inner{
    position: absolute;
    left: -15;
    right: -15;
    top: 15;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(200, 0, 0, 0.8);
}

.site-nav a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.hero-inner{
    color: red;
    /* border: 2px solid red; */
    max-width: 500px;
    /* background-color: rgba(109, 37, 37, 0.3); */
    padding: 10px;
    border-radius: 5px;
}

.hero-section h1{
    font-size: 40px;
}





.cta{
    height: 30px;
    width: 100px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 5px;
    margin-left: 40px;
    
}

.cta a{
    padding-top: 50px;
    text-align: center;
    color: white;
    margin-left: 30px;
}



@media onlyscreen and (min-width=1000px){
    .menu-btn-container{
        border: 2px solid cyan;
        display: none;
    }

    .is-open{
        display: none;
    }

    .site-header{
        border: 1px solid black;
        display: flex;
        align-items: center;
    }

    .site-nav{
        border: 2px solid green;
        display: flex;
        margin-left: auto;
    }

    .site-nav-inner{
        position: static;
        background-color: transparent;
    }

    .site-nav a{
        display: inline-block;
        color: black;
    }

    .site-nav a + a{
        margin-left: 15px;
    }
}
