.btn{
    text-align: center;
    border: 1px solid blue;
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 30px;
}

.btn a{
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-image: url(./Dropdown\ Icon.svg);
    background-repeat: no-repeat;
}
